<template>
  <div class="container py-3">
    <div class="row">
      <div class="col-12 text-right"><el-button type="danger" @click="logout">Выйти</el-button></div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1 class="mb-5">Список клиентов:</h1>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-2 col-md-3 text-left">
        <h5>Поиск клиента:</h5>
      </div>
      <div class="col-lg-4 col-md-5 text-left mb-2">
        <el-input placeholder="Введите значение" v-model="searchValue" ref="searchValue" clearable></el-input>
        <div v-if="searchModelValueError" class="error text-left">Введите значение</div>
      </div>
      <div class="col-lg-3 col-md-4 text-left">
        <el-select
          v-model="searchModel"
          @change="searchModelError = false"
          clearable
          placeholder="Выбрать тип поиска"
          ref="selectSearch"
        >
          <el-option
            v-for="model in searchModels"
            :value="model.value"
            :key="model.id"
            :label="model.name"
          ></el-option>
        </el-select>
        <div v-if="searchModelError" class="error text-left">Не выбран тип поиска</div>
      </div>
      <div class="col-lg-3 col-md-12 text-right mt-2 mt-lg-0">
        <el-button type="primary" @click="searchClient">Найти</el-button>
        <el-button type="button" @click="resetSearch">Сброс</el-button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-2 col-md-3 mb-2 align-self-center text-left">
        <h5>Сортировка по:</h5>
      </div>
      <div class="col-lg-3 col-md-5 align-self-center text-left mb-2">
        <el-select v-model="sortModel">
          <el-option v-for="model in sortModels" :value="model" :key="model.id" :label="model.name"></el-option>
        </el-select>
      </div>
      <div class="col-lg-3 col-md-4 align-self-center text-left">
        <el-button type="primary" @click="fetchClients">Отсортировать</el-button>
      </div>
      <div class="col-lg-4 col-md-12 align-self-center mt-2 mt-lg-0 text-left">
        Кол-во клиентов на странице
        <el-select @change="changeLimit" v-model="limitNumber" style="width:80px">
          <el-option v-for="(number, index) in limits" :key="index" :label="number" :value="number"></el-option>
        </el-select>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <el-table :data="clients" border style="width: 100%" v-loading="loading" empty-text="Ничего не найдено">
          <el-table-column prop="name" label="Имя"></el-table-column>
          <el-table-column prop="surname" label="Фамилия"></el-table-column>
          <el-table-column prop="email" label="Эл.почта"></el-table-column>
          <el-table-column prop="phone" label="Телефон"></el-table-column>
          <el-table-column prop="adding_date" label="Дата добавления"></el-table-column>
          <el-table-column prop="status" label="Статус">
            <template slot-scope="scope">
              <div v-if="scope.row.status === 'current'">
                <span>Текущий</span>
                <el-popover trigger="hover" placement="top" width="200">
                  <i class="el-icon-success text-success ml-2" slot="reference" />
                  <p> Последняя продажа: <br> {{ scope.row.last_sell | formatDate }}</p>
                </el-popover>
              </div>
              <div v-if="scope.row.status === 'former'">
                <span>Бывший</span>
                <el-popover trigger="hover" placement="top" width="200">
                  <i class="el-icon-warning text-danger ml-2" slot="reference" />
                  <p> Последняя продажа: <br> {{ scope.row.last_sell | formatDate }}</p>
                </el-popover>
              </div>
              <div v-if="scope.row.status === 'potential'">
                <span>Возможный</span>
                <el-popover trigger="hover" placement="top" width="200">
                  <i class="el-icon-question text-warning ml-2" slot="reference" />
                  <p> Последняя продажа: <br> {{ scope.row.last_sell | formatDate }}</p>
                </el-popover>
              </div>              
              <span style="margin-left: 10px">{{ scope.row.date }}</span>
            </template>
          </el-table-column>
          <el-table-column width="80" align="center">
            <template slot-scope="scope">
              <i class="el-icon-edit" style="color: #409EFF" @click="editClient(scope.$index, scope.row)" />
              <el-popconfirm 
                title="Удалить клиента?"
                confirm-button-text="Да"
                cancel-button-text="Нет"
                @confirm="deleteClient(scope.$index, scope.row)"
                hide-icon
              >
                <i class="el-icon-delete" style="color: #F56C6C" slot="reference" />
              </el-popconfirm>  
            </template>
          </el-table-column>
        </el-table>
        <paginate
          v-if="pages"
          v-model="currentPage"
          :page-count="pages"
          :page-range="3"
          :margin-pages="1"
          :prev-text="'Назад'"
          :next-text="'Вперед'"
          :container-class="'pagination'"
          :page-class="'page-item'"
          class="mt-2"
        ></paginate>
        <el-button type="info" @click="addClient">Добавить клиента</el-button>
      </div>
    </div>
  </div>
</template>

<script>
const Paginate = () => import("vuejs-paginate");
export default {
  name: "Clients",
  components: {
    Paginate,
  },
  beforeRouteEnter(to, from, next) {
    if (from.params.currentPage) {
      next((vm) => {
        vm.currentPage = from.params.currentPage;
      });
    } else {
      next();
    }
  },
  /*beforeRouteUpdate(to, from) {
    if (from.params.page) {
      this.currentPage = from.params.page;
    }
  },*/
  data() {
    return {
      currentPage: 1,
      limits: [5, 10, 15, 20],
      limitNumber: null,
      searchModel: "",
      searchModelError: false,
      searchModelValueError: false,
      sortModelError: false,
      searchValue: "",
      searchModels: [
        {
          id: 1,
          value: "name",
          name: "по имени",
        },
        {
          id: 2,
          value: "surname",
          name: "по фамилии",
        },
        {
          id: 3,
          value: "phone",
          name: "по номеру телефона",
        },
        {
          id: 4,
          value: "email",
          name: "по эл.почте",
        },
      ],
      sortModel:{
          id: 1,
          value: "adding_date_desc",
          key: "adding_date",
          desc: "desc",
          name: "по дате добавления (убыв.)",
        },
      sortModels: [
        {
          id: 1,
          value: "adding_date_desc",
          key: "adding_date",
          desc: "desc",
          name: "по дате добавления (убыв.)",
        },
        {
          id: 2,
          value: "adding_date",
          desc: "asc",
          key: "adding_date",
          name: "по дате добавления (возр.)",
        },
        {
          id: 3,
          value: "name",
          key: "name",
          desc: "asc",
          name: "по имени (А-Я)",
        },
        {
          id: 4,
          value: "name_desc",
          key: "name",
          desc: "desc",
          name: "по имени (Я-А)",
        },
        {
          id: 5,
          value: "surname",
          key: "surname",
          desc: "asc",
          name: "по фамилии (А-Я)",
        },
        {
          id: 6,
          value: "surname_desc",
          key: "surname",
          desc: "desc",
          name: "по фамилии (Я-А)",
        },
      ],
    };
  },
  methods: {
    async fetchClients() {
      await this.$store.dispatch("fetchClients", {
        page: this.currentPage,
        limit: this.limitNumber,
        sortModel: this.sortModel,
      });
    },
    editClient(index, client) {
      this.$router.push({
        name: "ClientsEdit",
        params: {
          id: client.id,
          index,
          currentPage: this.currentPage,
        },
      });
    },
    addClient() {
      this.$router.push("/add");
    },
    async deleteClient(index) {
      await this.$store.dispatch("deleteClient", index);
      this.fetchClients();
    },
    async changeLimit() {
      this.$store.dispatch("switchLimit", this.limitNumber);
      await this.fetchClients();
      if (this.currentPage > this.pages) {
        this.currentPage = this.pages;
      }
    },
    async searchClient() {
      if (this.searchModel !== "") {
        this.searchModelError = false;
        if (this.searchValue !== "") {
          this.searchModelValueError = false;
          this.$store.dispatch("searchClient", {
            searchModel: this.searchModel,
            searchValue: this.searchValue,
            currentPage: this.currentPage,
          });
        } else {
          this.searchModelValueError = true;
          this.$refs.searchValue.focus();
        }
      } else {
        this.searchModelError = true;
        this.$refs.selectSearch.focus();
      }
    },
    /* async sortClients() {
      this.$store.dispatch("sortClients", {
        sortModel: this.sortModel,
        currentPage: this.currentPage,
        limit: this.limitNumber,
      });
    }, */
    resetSearch() {
      (this.searchValue = ""), this.fetchClients();
    },
    logout() {
      localStorage.removeItem("currentUser");
      this.$router.push({ name: "Login" });
    }
  },
  computed: {
    clients() {
      return this.$store.getters["getClients"];
    },
    pages() {
      return this.$store.state.pages;
    },
    loading() {
      return this.$store.state.loading;
    }
  },
  created() {
    this.limitNumber = this.$store.getters["getLimit"];
    this.fetchClients();
    this.sortModel = this.sortModels[0];
  },
  watch: {
    currentPage: {
      handler() {
        this.fetchClients();
      },
    },
  },
  filters: {
    formatDate(val) {
      let date = new Date(val);
      return date.toLocaleDateString("ru-RU", {
        year: "numeric",
        month: "2-digit",
        day: "2-digit",
      });
    },
  },
};
</script>

<style lang="scss">
.pagination li {
  padding: 0 0.5rem;
}
.pagination li a {
  color: #212529;
}

.pagination li a:active,
.pagination li a:focus {
  outline: none;
}

.pagination li.active {
  font-weight: bold;
}

.pagination li.disabled {
  opacity: 0.5;
}

.error {
  color: red;
  font-size: 12px;
}

.el-select {
  max-width: 300px;
  width: 100%;
}

.cell {
  display: flex;
  justify-content: space-between;

  i {
    font-size: 18px;
    padding: 0 0.5rem;
    cursor: pointer;
  }
}

.el-button--text {
  &:focus {
    outline: none;
  }
}

.el-popover { 
  min-width: 200px !important;
}

.el-popconfirm {
  &__main {
    justify-content: center;
  }

  &__action {
    text-align: center !important;

    .el-button--mini, .el-button--small {
      font-size: 14px;
    }

    .el-button+.el-button {
      margin-left: 20px;
    }
  }
}
</style>