<!-- TODO: Добавить поля: статус клиента (чекбоксы с 3-мя полями) и дата последней продажи -->
<template>
  <div>
    <form class="col-md-4 col-sm-12">
      <legend>Добавление клиента</legend>
      <div class="form-group" :class="{ 'form-group--error': $v.name.$error }">
        <label for="name">Имя</label>
        <input
          type="text"
          id="name"
          class="form-control"
          v-model.trim="$v.name.$model"
        />
      </div>
      <div class="error" v-if="!$v.name.required && $v.name.$anyDirty">Заполните поле!</div>
      <div class="error" v-if="!$v.name.minLength && $v.name.$anyDirty">
        Мин. кол-во символов: {{ $v.name.$params.minLength.min }}
      </div>
      <div
        class="form-group"
        :class="{ 'form-group--error': $v.surname.$error }"
      >
        <label for="surname">Фамилия </label>
        <input
          type="text"
          id="surname"
          class="form-control"
          v-model.trim="$v.surname.$model"
        />
      </div>
      <div class="error" v-if="!$v.surname.required && $v.surname.$anyDirty">Заполните поле!</div>
      <div class="error" v-if="!$v.surname.minLength && $v.surname.$anyDirty">
        Мин. кол-во символов: {{ $v.name.$params.minLength.min }}
      </div>
      <div class="form-group" :class="{ 'form-group--error': $v.email.$error }">
        <label for="email">Почта</label>
        <input
          type="email"
          id="email"
          class="form-control"
          v-model.trim="$v.email.$model"
        />
      </div>
      <div class="error" v-if="!$v.email.required && $v.email.$anyDirty">Заполните поле!</div>
      <div class="error" v-if="!$v.email.email && $v.email.$anyDirty">
        Некорректный адрес почты
      </div>
      <div class="form-group" :class="{ 'form-group--error': $v.phone.$error }">
        <label for="phone">Телефон</label>
        <input
          type="tel"
          id="phone"
          class="form-control"
          v-model="$v.phone.$model"
          placeholder="10 цифр без 8"
          v-mask="'8-###-###-##-##'"
        />
      </div>
      <div class="error" v-if="!$v.phone.required && $v.phone.$anyDirty">Заполните поле!</div>
      <div class="error" v-if="!$v.phone.minLength && $v.phone.$anyDirty">
        Заполните нужное кол-во цифр
      </div>
      <div class="mt-3">
        <button type="button" class="btn btn-primary mr-2" @click="addClient">
          Добавить
        </button>
        <button type="button" class="btn btn-secondary" @click="goBack">
          Назад
        </button>
      </div>
    </form>
  </div>
</template>

<script>
const { required, minLength, email } = require("vuelidate/lib/validators");
import { mask } from "vue-the-mask";
export default {
  name: "ClientAdd",
  directives: { mask },
  data() {
    return {
      name: "",
      surname: "",
      email: "",
      phone: "",
      submitStatus: null,
    };
  },
  methods: {
    goBack() {
      this.$router.push("/");
    },
    addClient() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        this.submitStatus = "PENDING";
        this.$store.dispatch("createClient", {
          name: this.name,
          surname:this.surname,
          phone: this.phone,
          email: this.email,
          adding_date:Date.now(),
          last_sell:Date.now(),
          });
        this.goBack();
      }
    },
  },
  validations: {
    name: {
      required,
      minLength: minLength(2),
    },
    surname: {
      required,
      minLength: minLength(2),
    },
    email: {
      required,
      email,
    },
    phone: {
      required,
      minLength: minLength(15),
    },
  },
};
</script>

<style>
.error {
  color: red;
}

.form-group {
  margin-bottom: 0;
  margin-top: 1rem;
}
</style>