<template>
  <div>
    <form class="col-md-4 col-sm-12">
      <legend>Редактирование клиента</legend>
      <div class="form-group" :class="{ 'form-group--error': $v.client.name.$error }">
        <label for="name">Имя</label>
        <input type="text" id="name" class="form-control" v-model.trim="$v.client.name.$model" />
      </div>
      <div class="error" v-if="!$v.client.name.required && $v.client.name.$anyDirty">Заполните поле!</div>
      <div
        class="error"
        v-if="!$v.client.name.minLength && $v.client.name.$anyDirty"
      >Мин. кол-во символов: {{ $v.client.name.$params.minLength.min }}</div>
      <div class="form-group" :class="{ 'form-group--error': $v.client.surname.$error }">
        <label for="surname">Фамилия</label>
        <input
          type="text"
          id="surname"
          class="form-control"
          v-model.trim="$v.client.surname.$model"
        />
      </div>
      <div
        class="error"
        v-if="!$v.client.surname.required && $v.client.surname.$anyDirty"
      >Заполните поле!</div>
      <div
        class="error"
        v-if="!$v.client.surname.minLength && $v.client.surname.$anyDirty"
      >Мин. кол-во символов: {{ $v.client.name.$params.minLength.min }}</div>
      <div class="form-group" :class="{ 'form-group--error': $v.client.email.$error }">
        <label for="email">Почта</label>
        <input type="email" id="email" class="form-control" v-model.trim="$v.client.email.$model" />
      </div>
      <div
        class="error"
        v-if="!$v.client.email.required && $v.client.email.$anyDirty"
      >Заполните поле!</div>
      <div
        class="error"
        v-if="!$v.client.email.email && $v.client.email.$anyDirty"
      >Некорректный адрес почты</div>
      <div class="form-group" :class="{ 'form-group--error': $v.client.phone.$error }">
        <label for="phone">Телефон</label>
        <input
          type="tel"
          id="phone"
          class="form-control"
          v-model="$v.client.phone.$model"
          placeholder="10 цифр без 8"
          v-mask="'8-###-###-##-##'"
        />
      </div>
      <div
        class="error"
        v-if="!$v.client.phone.required && $v.client.phone.$anyDirty"
      >Заполните поле!</div>
      <div
        class="error"
        v-if="!$v.client.phone.minLength && $v.client.phone.$anyDirty"
      >Заполните нужное кол-во цифр</div>
      <div class="mt-3">
        <button type="button" class="btn btn-primary mr-2" @click="changeClient">Редактировать</button>
        <button type="button" class="btn btn-secondary" @click="goBack">Назад</button>
      </div>
    </form>
  </div>
</template>

<script>
const { required, minLength, email } = require("vuelidate/lib/validators");
import { mask } from "vue-the-mask";
export default {
  name: "ClientsEdit",
  directives: { mask },
  data() {
    return {
      client: {
        name: "",
        surname: "",
        email: "",
        phone: "",
        submitStatus: null,
      },
    };
  },
  created() {
    this.client = this.$store.getters["getClient"](this.$route.params.index);
  },
  methods: {
    goBack() {
      this.$router.push({
        name: "Clients",
        params: { currentPage: this.$route.params.currentPage },
      });
    },
    async changeClient() {
      this.$v.client.$touch();
      if (this.$v.client.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        this.submitStatus = "PENDING";
        await this.$store.dispatch("editClient", {
          client: this.client,
          index: this.index,
        });
        this.goBack();
      }
    },
  },
  validations: {
    client: {
      name: {
        required,
        minLength: minLength(2),
      },
      surname: {
        required,
        minLength: minLength(2),
      },
      email: {
        required,
        email,
      },
      phone: {
        required,
        minLength: minLength(15),
      },
    },
  },
};
</script>

<style lang="scss">
.form-group--error {
  input {
    border-color: #fc0f0f;
  }
}
  
</style>
