<template>
  <el-row type="flex" justify="center">
    <el-col :span="6">
      <div>
        <h1>Авторизация</h1>
        <el-form
          :model="ruleForm"
          status-icon
          :rules="rules"
          ref="ruleForm"
          label-width="120px"
          class="demo-ruleForm"
        >
          <el-form-item label="Эл.почта" prop="email">
            <el-input type="text" v-model="ruleForm.email" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="Пароль" prop="password">
            <el-input type="password" v-model="ruleForm.password" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')">Войти</el-button>
            <el-button @click="resetForm('ruleForm')">Сброс</el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-col>
  </el-row>
</template>

<style lang="scss" scoped>
h1 {
  text-align: center;
}
</style>

<script>
import axios from "axios";
import { baseFetchURL } from "../consts.js";
const validateEmail = (rule, value, callback) => {
    const validationRule = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if (!validationRule.test(value)) {
      callback(new Error("Введите корректный email"));
    } else {
      callback();
    }
  };
export default {
  data() {
    return {
      ruleForm: {
        email: "",
        password: ""
      }
    }
  },
  computed: {
    rules() {
      const rules = {
      email: [
        { required: true, message: "Введите e-mail", trigger: "blur" },
        { validator: validateEmail, trigger: "blur" }
      ],
      password: [
        { required: true, message: "Введите пароль", trigger: "blur" },
        {
          min: 3,
          max: 50,
          message: "Кол-во символов от 3 до 50",
          trigger: "blur"
        }
      ]
    };
    return rules;
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          // alert("submit!");
          axios
            .post(`${baseFetchURL}/login`, {
              email: this.ruleForm.email,
              password: this.ruleForm.password
            })
            .then(response => {
              const token = response.data;
              localStorage.setItem("currentUser", JSON.stringify(token));
              console.log(this.$router);
              this.$router.push({ name: "Clients" });
            })
            .catch(error => {
              console.log(error);
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      const ref = this.$refs[formName];
      ref.resetFields();
    }
  },

  created() {
    console.log(baseFetchURL);
  }
}
</script>
